html
    head
        title Tienda SideQuest
    body
        h2 Home
        form method="post" action="/productos"
            label Titulo
        input (type="text" name="titulo")
            label Precio
        input (type="text" name="precio")
            label Imagen
        input (type="text" name="imagen")
        button type="submit" Guardar
