<div>
    <h2>Seccion Productos</h2>
    <% newProducts.forEach((productos)=>{ %>
        <p><%= productos.titulo %></p>
        <p><%= productos.precio %></p>
        <p><%= productos.imagen %></p>
    <% }) %>
</div>